<!DOCTYPE html>
<html>
<head>
    <title>Socks Shop</title>
    <link rel="stylesheet" type="text/css" href="./main.css">
</head>
<body>
    <div class="nav-bar"></div>
    <div id="app">
        
        <div class="product">
        
          <div class="product-image">
            <img v-bind:src="image" v-bind:alt="altText" >
          </div>

          <div class="product-info">        
            <h1>{{ title }}</h1>
            <p v-if="inStock">In Stock</p>
            <p v-else>Out of Stock</p>
            <p>{{ sale }}</p>
            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <p>{{ description }}</p>
            <div class="color-box"
                v-for="(variant, index) in variants"
                :key="variant.variantId"
                :style="{ backgroundColor: variant.variantColor }"
                @mouseover="updateProduct(index)"
                >
            </div>
            <div class="cart">
              <p>Cart ({{ cart }})</p>
            </div>
            <p>
              <button v-on:click="addToCart"
                  :disabled="!inStock"
                  :class="{ disabledButton: !inStock }"
                  >Add to cart
              </button>
            </p>
            <p><button v-on:click="removeFromCart">Remove from cart</button></p>
            <p><a v-bind:href="link" target="_blank">More products like this</a></p>
          </div>
        
        </div>
         
    </div> 
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="main.js"></script>
</body>
</html>
